{% extends 'layout.html.twig' %}

{% block title %}
    {{ parent() }} - Accueil
{% endblock %}

{% block content %}
    <h1>Hello {{ name }} !</h1>
    <a href= "products.php">Products</a>
    <a href= "details.php">Details</a>
{% endblock %}