{% extends 'layout.html.twig' %}

{% block title %}
    {{ parent() }} - Products
{% endblock %}

{% block content %}
    <h1>List of products</h1>
    <ul>
    {% for prod in products %}
        <li>{{ prod }}</li>
    {% endfor %}
    </ul>
    {{ dump(products) }}
    <a href= "index.php">Home</a>
{% endblock %}
